.git
.github
.gitignore
.agents/**
.claude/**
.cursor/**
.opencode/**
.impecable
node_modules
**/node_modules
**/.turbo
**/.next
**/.output
dist
**/dist
.env
.env.*
!.env.example
!**/.env.example
*.log
coverage
**/coverage
spec
README.md
PRODUCT.md
DESIGN.md
STYLEGUIDE.md
AGENTS.md
